#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid brown 3px;
    
}

#inc,#dec,#res{
    border: solid 3px;
    background-color: antiquewhite;
    color: black;
    padding: 5px;
    height: 5vh;
    font-size: medium;
    
}

#display{
    border: solid black 5px;
    height: 10vh;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}